<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950599949267-7290ivg0htav75l37nfeo1rm4dco1kfg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950599949267-7290ivg0htav75l37nfeo1rm4dco1kfg</string>
	<key>API_KEY</key>
	<string>AIzaSyChn8h7c563e09w6Yo3oLFrMYkUSHTjfCI</string>
	<key>GCM_SENDER_ID</key>
	<string>950599949267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.audre</string>
	<key>PROJECT_ID</key>
	<string>aundre-ceb64</string>
	<key>STORAGE_BUCKET</key>
	<string>aundre-ceb64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950599949267:ios:89cfe8c4bd78d23844ed26</string>
</dict>
</plist>